<?xml version="1.0"?>

<model>
  <name>URJC building 3 1st</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Juan S. Cely</name>
    <email>juanscelygo@gmail.com</email>
  </author>

  <description>
    URJC Fuenlabrada Campus Building 3 1st level
  </description>
</model>